# Python runtime files
*.pyc
__pycache__

# Python library/util caches
.ipynb_checkpoints
.mypy_cache

# Latex build auxiliaries
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.bbl
*.blg
block8logo_svg*

# IDE, editor, and OS caches
# (these should probably be in ./git/info/exclude)
.idea
.vscode
.DS_Store
